<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>About &mdash; Fernanda Pérez Gutiérrez</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Fernanda Perez Gutierrez Portfolio" />
	<meta name="keywords" content="Fernanda Perez Gutierrez, Fernanda Pérez Gutiérrez, Fernanda Perez Gutierrez Portfolio, Fernanda Pérez Gutiérrez Portfolio, Latina Software Engineer, Hispanic Software Engineer, Latinas in Tech, , Latinos in Tech, Latinx Engineers, Latinx Software Engineers, Software Developer, Hispanics in Tech, first-gen software engineer, first-generation, first-gen" />
	<meta name="author" content="Fernanda Pérez Gutiérrez" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fpgportfolio-loader"></div>
	
	<div id="page">
	<nav class="fpgportfolio-nav" role="navigation">
		<div class="top-menu">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2">
						<div id="fpgportfolio-logo"><a href="/">Fernanda<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/portfolio">Portfolio</a></li>
							<li class="has-dropdown">
								<a href="/blog">Blog</a>
								<ul class="dropdown">
									<li><a href="#">WORK IN PROGRESS</a></li>
									<!-- <li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li> -->
								</ul>
							</li>
							<li class="active"><a href="/about">About</a></li>
							<!-- <li><a href="contact.html">Contact</a></li> -->
							<li class="btn-cta"><a href="/contact"><span>Contact</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<div id="fpgportfolio-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>About</h2>
					<p>Fernanda is a software engineer based out of Minneapolis, Minnesota with a passion for tech, diversity, and sustainability.</p>
					<p></p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-8 col-md-offset-2 text-center animate-box">
					<p><img src="static/images/portfolio_pic_edited.JPG" alt="Author Headshot" class="img-responsive img-rounded"></p>
				</div>
			</div>

			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h3>¡Hola! I'm Fernanda!</h3>
					<p>A biochemistry grad turned software engineer seeking my next opportunity!</p>
				</div>
			</div>

			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1 justify-content-start">
					<p id="paragraph2">Now, I&apos;ll be honest about the reason for making the career switch to software engineering: 
						I had no clue that computer science existed until my junior year of college, but by then 
						it was just too late to make the switch. <br><br>

						Despite being a little late to the coding game in comparison to some, I do have a fierce tenacity to accomplish 
						my goals at all costs. Growing up the eldest daughter of Mexican immigrants in America meant prioritizing all matters 
						requiring English translation&mdash;bills, taxes, appointments&mdash;even if it meant starting homework at midnight. To top it all off, 
						growing up a poor person of color in white, rural America in the early 2000s meant a guaranteed lack of support. I was one of 
						eight colored kids my age to grow up together in a trailer park, but the only one to receive a college education. This shows 
						that while I may not have a computer science degree, I refuse to let anything get in the way of my goals.<br><br>
						
						Most recently, I was 1 of 15 out of 1200 applicants selected to receive a full-ride scholarship to Hackbright Academy's full stack bootcamp. 
						I completed the bootcamp in December of 2022, but have remained dedicated to learning. Right now I'm working as a freelance developer. 
						I'm currently redoing a website for a client who is as passionate about helping underserved individuals as I am about working towards changing the ratio in tech! 
						The second project I am working on is an open source project alongside other Latina developers. Given that less than 2% of engineers are Latinas, 
						we envision it as a platform where Latina software engineers can go to connect, discuss projects, receive advice/feedback, and most of all, find a community! 
						I also recently completed a bootcamp with Girls Who Code that was sponsored by Autodesk where I programmed alongside senior engineers from Autodesk, practiced technical interview 
						skills, and collaborated with fellow Girls Who Code students. Last but not least, to enrich my knowledge, I have been taking a Mathematics 
						of Machine Learning course on Coursera and was recently accepted into Code the Dream&apos;s React and Node.js courses!<br><br>

						In my free time I love to volunteer with local organizaitons in the Twin Cities like Twin Cities Pet Rescue, Minnesota Immigrant Rights Action Coalition (MIRAC), and Open Streets Minneapolis. 
						I'm also a huge nature lover and in the summer you'll find me partaking in pretty much all outdoor activities such as hiking, biking, paddle boarding, and walking around the many Minnesota lakes with my one-year-old mini Australian shepherd, 
						Kovu! When not outside, I'm usually inside reading, working on a project, working out, or whipping up a tasty vegetarian meal!
					</p>
				</div>
			</div>

			
		</div>
	</div>
	
	<div id="fpgportfolio-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>Hire Me!</h2>
					<p>I'd love to join your team and work on cool things together.</p>
					<p><a href="/contact" class="btn btn-default btn-lg">Contact</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fpgportfolio-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 fpgportfolio-widget">
					<h4>Fernanda Pérez Gutiérrez</h4>
					<p>It was a pleasure to have you stop by and take a look! This portfolio was made with blood (I did get one papercut and scraped a finger while moving my desk), sweat (from the A/C breaking at my previous apartment), and tears (eh, it happens haha). Feel free to contact me if you have any questions, comments, or want to collaborate! Come back soon!</p>
				</div>
				<div class="col-md-2 col-md-push-1 fpgportfolio-widget">
					<h4>Navigate to &#x2B07;</h4>
					<ul class="fpgportfolio-footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2023 Fernanda Pérez Gutiérrez. All Rights Reserved.</small> 
						<small class="block">Thanks for visiting!</small>
					</p>
					<p>
						<ul class="fpgportfolio-social-icons">
							<!-- <li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/fernanda-perez-gutierrez/" target="_blank"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://github.com/fernperezg97" target="_blank"><i class="icon-github"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="static/js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>

	</body>
</html>

