<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Blog &mdash; Fernanda Pérez Gutiérrez</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<<meta name="description" content="Fernanda Perez Gutierrez Portfolio" />
	<meta name="keywords" content="Fernanda Perez Gutierrez, Fernanda Pérez Gutiérrez, Fernanda Perez Gutierrez Portfolio, Fernanda Pérez Gutiérrez Portfolio, Latina Software Engineer, Hispanic Software Engineer, Latina in Techm Hispanic in Tech" />
	<meta name="author" content="Fernanda Pérez Gutiérrez" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fpgportfolio-loader"></div>
	
	<div id="page">
	<nav class="fpgportfolio-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fpgportfolio-logo"><a href="/index">Air<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/portfolio">Portfolio</a></li>
							<li class="has-dropdown active">
								<a href="/blog">Blog</a>
								<ul class="dropdown">
									<li><a href="#">WORK IN PROGRESS</a></li>
									<!-- <li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li> -->
								</ul>
							</li>
							<li><a href="/about">About</a></li>
							<!-- <li><a href="/contact">Contact</a></li> -->
							<li class="btn-cta"><a href="/contact"><span>Contact</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<div id="fpgportfolio-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>Recent Post (FUTURE FEATURE)</h2>
					<p>A place where I share interesting tidbits of tech-related information.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fpgportfolio-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-1.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Month. 15th 2023</span>
							<h3><a href="#">Stuff</a></h3>
							<p>IN THE WORKS</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>Likes</li>
								<li><i class="icon-eye2"></i>Views</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fpgportfolio-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-2.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Month 15th 2023</span>
							<h3><a href="#"></a>Stuff</h3>
							<p>WORK IN PROGRESS</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>Likes</li>
								<li><i class="icon-eye2"></i>Views</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fpgportfolio-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-3.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Month 15th 2023</span>
							<h3><a href="#">Stuff</a></h3>
							<p>FUTURE FEAUTURE</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>Likes</li>
								<li><i class="icon-eye2"></i>Views</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fpgportfolio-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>Hire Me!</h2>
					<p>I'd love to join your team and work on cool things together.</p>
					<p><a href="/contact" class="btn btn-default btn-lg">Contact</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fpgportfolio-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 fpgportfolio-widget">
					<h4>Fernanda Pérez Gutiérrez</h4>
					<p>It was a pleasure to have you stop by and take a look! This portfolio was made with blood (I did get one papercut and scraped a finger while moving my desk), sweat (from the A/C breaking at my previous apartment), and tears (eh, it happens haha). Feel free to contact me if you have any questions, comments, or want to collaborate! Come back soon!</p>
				</div>
				<div class="col-md-2 col-md-push-1 fpgportfolio-widget">
					<h4>Navigate to &#x2B07;</h4>
					<ul class="fpgportfolio-footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2023 Fernanda Pérez Gutiérrez. All Rights Reserved.</small> 
						<small class="block">Thanks for visiting!</small>
					</p>
					<p>
						<ul class="fpgportfolio-social-icons">
							<!-- <li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/fernanda-perez-gutierrez/" target="_blank"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://github.com/fernperezg97" target="_blank"><i class="icon-github"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="static/js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>

	</body>
</html>

