<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contact &mdash; Fernanda Pérez Gutiérrez</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Fernanda Perez Gutierrez Portfolio" />
	<meta name="keywords" content="Fernanda Perez Gutierrez, Fernanda Pérez Gutiérrez, Fernanda Perez Gutierrez Portfolio, Fernanda Pérez Gutiérrez Portfolio, Latina Software Engineer, Hispanic Software Engineer, Latina in Techm Hispanic in Tech" />
	<meta name="author" content="Fernanda Pérez Gutiérrez" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/static/css/alert.css">

	</head>
	<body>
		
	<div class="fpgportfolio-loader"></div>
	
	<div id="page">
	<nav class="fpgportfolio-nav" role="navigation">
		<div class="top-menu">
			<div class="container-fluid">
				<div class="row">
					<div class="navbar-brand col-xs-2">
						<div id="fpgportfolio-logo"><a href="/">Fernanda<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/portfolio">Portfolio</a></li>
							<li class="has-dropdown">
								<a href="/blog">Blog</a>
								<ul class="dropdown">
									<li><a href="#">WORK IN PROGRESS</a></li>
									<!-- <li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li> -->
								</ul>
							</li>
							<li><a href="/about">About</a></li>
							<!-- <li class="active"><a href="/contact">Contact</a></li> -->
							<li class="btn-cta"><a href="/contact"><span>Contact</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<div id="fpgportfolio-contact">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>Send me a message!</h2>
					<p>I personally answer all of my emails and I will get back to you ASAP. &#128578</p>
				</div>
			</div>
		</div>
		<div class="container">
				<div class="row justify-content-center">
					<!-- <div class="col-md-3 col-md-push-1 animate-box">
						<h3>Location</h3>
						<ul class="contact-info">
							<li><i class="icon-location"></i>Minneapolis, Minnesota 55436</li>
							<li><i class="icon-old-phone"></i>+ 1235 2355 98</li>
							<li><i class="icon-mail22"></i><a href="#">info@yoursite.com</a></li>
							<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
						</ul>
					</div> -->
					<div class="col-md-8 col-md-push-2 animate-box">
						<div class="row">
							<form action="{{ url_for('contact_me')}}" method="post">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="inquirer_name" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="inquirer_email"class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="inquirer_message" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary" onclick="Swal.fire({
											position: 'center',
											icon: 'success',
											title: 'Your message has been sent!',
											showConfirmButton: false,
										  })">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
	
	<div id="fpgportfolio-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>Hire Me!</h2>
					<p>I'd love to join your team and work on cool things together.</p>
					<p><a href="/contact" class="btn btn-default btn-lg">Contact</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fpgportfolio-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 fpgportfolio-widget">
					<h4>Fernanda Pérez Gutiérrez</h4>
					<p>It was a pleasure to have you stop by and take a look! This portfolio was made with blood (I did get one papercut and scraped a finger while moving my desk), sweat (from the A/C breaking at my previous apartment), and tears (of laughter haha). Feel free to contact me if you have any questions, comments, or want to collaborate! Come back soon!</p>
				</div>
				<div class="col-md-2 col-md-push-1 fpgportfolio-widget">
					<h4>Navigate to &#x2B07;</h4>
					<ul class="fpgportfolio-footer-links">
						<li><a href="/">Home</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy;2023 Fernanda Pérez Gutiérrez. All Rights Reserved.</small> 
						<small class="block">Thanks for visiting!</small>
					</p>
					<p>
						<ul class="fpgportfolio-social-icons">
							<!-- <li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li> -->
							<li><a href="https://www.linkedin.com/in/fernanda-perez-gutierrez/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
								<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
							  </svg></a></li>
							<li><a href="https://github.com/fernperezg97" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
								<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
							  </svg></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="static/js/jquery.flexslider-min.js"></script>
	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	</body>
</html>

