<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Fernanda Pérez Gutiérrez</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Fernanda Perez Gutierrez Portfolio" />
	<meta name="keywords" content="Fernanda Perez Gutierrez, Fernanda Pérez Gutiérrez, Fernanda Perez Gutierrez Portfolio, Fernanda Pérez Gutiérrez Portfolio, Latina Software Engineer, Hispanic Software Engineer, Latina in Techm Hispanic in Tech" />
	<meta name="author" content="Fernanda Pérez Gutiérrez" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fpgportfolio-loader"></div>
	
	<div id="page">
	<nav class="fpgportfolio-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fpgportfolio-logo"><a href="home.html">Fernanda<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="home.html">Home</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li class="has-dropdown">
								<a href="blog.html">Blog</a>
								<ul class="dropdown">
									<li><a href="#">WORK IN PROGRESS</a></li>
									<!-- <li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li> -->
								</ul>
							</li>
							<li><a href="about.html">About</a></li>
							<!-- <li><a href="contact.html">Contact</a></li> -->
							<li class="btn-cta"><a href="#"><span>Contact</span></a></li>
						</ul>
					</div>
				</div>	
			</div>
		</div>
	</nav>

	<header id="fpgportfolio-header" class="fpgportfolio-cover js-fullheight" role="banner">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="text-center">
					<div class="heading">
						<img class="memoji" src="static/images/portfolio_memoji_still_pic_daydreaming.png" alt="personalized memoji character looking at computer">
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>¡Hola! I'm Fernanda!</h1>
								<h2>I'm a software engineer based out of Minneapolis, Minnesota with a passion for tech, diversity, and sustainability.</h2>
								<p> 
									<a class="btn btn-primary btn-lg btn-contact" href="#"></i>Contact Me</a>
									<a class="btn btn-primary btn-lg btn-resume" href="static/images/perez_fernanda_resume_04_2023.pdf" download="perez_fernanda_resume"><img src="static/images/file-earmark-arrow-down-fill.svg" alt="download file icon"> Download Resume</a>
								</p>
							</div>
						</div>
					</div>
				</div>
		</div>
	</header>

	<div id="fpgportfolio-features">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading-strengths">
						<h2>Strengths</h2>
						<p>Courtesy of the CliftonStrengths assessment tool developed by The Gallup Organization. This tool helps individuals discover their top five strengths and can help organizations improve company culture and performance.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-rocket"></i>
							</span>
							<div class="feature-copy">
								<h3>Futuristic</h3>
								<p>As a first-gen Latina grad, I have always considered myself a "go-getter." Setting goals is a must because it allows me to get more done by creating a clear vision for the future.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-pencil2"></i>
							</span>
							<div class="feature-copy">
								<h3>Restorative</h3>
								<p>I'm a true problem-solver at heart. If I'm unfamilar with a concept, I tackle it until acquiring the necessary skills that will allow me to produce obtainable results.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-question"></i>
							</span>
							<div class="feature-copy">
								<h3>Input</h3>
								<p>I have always had and always will have a craving to know more. As someone from a low-income background, I was always taught that knowledge is power. It controls the access to opportunity and advancement. </p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 col-md-offset-2 animate-box">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-database"></i>
							</span>
							<div class="feature-copy">
								<h3>Analytical</h3>
								<p>Thanks to my background in biochemistry, I have a thing for finding the right data to back up a cause and taking into account all of the possible reasons for its occurence. I've translated this to my career as a sofware engineer.</p>
							</div>
						</div>

					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-heart2"></i>
							</span>
							<div class="feature-copy">
								<h3>Significance</h3>
								<p>Industrious, diligent, and persistent are words that I would use to describe myself. I am no stranger to hard work and am willing to persist until the very end, but prefer to work where my skills are valued.</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div id="fpgportfolio-slider">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="heading">
						<h2>Recent Projects</h2>
						<p>A peak of some things I've done or am currently working on!</p>
					</div>
				</div>
				<div class="col-md-6 col-md-push-1 animate-box">
					<aside id="fpgportfolio-hero">
					<div class="flexslider">
						<ul class="slides">
					   	<li style="background-image: url(static/images/covid_project_screenshot_2.png);">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				<div class="slider-text-inner">
						   					<div class="desc">
												<h2>Choro-Tracker</h2>
												<p>Choro-Tracker is a full stack interactive tracker for global COVID-19 data. The app allows a user to interact with a global COVID-19 dataset through use of a Chart.js choropleth map and line graph.</p>
						   					</div>
						   				</div>
						   			</div>
						   		</div>
					   		</div>
					   	</li>
					   	<li style="background-image: url(static/images/latina_dev_screenshot.png);">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				<div class="slider-text-inner">
						   					<div class="desc">
												<h2>Latina Dev</h2>
												<p>Latina Dev is a free, open source website that will provide a number of different free resources to its subscribers such as tools for learning software development, a place for other Latina developers to connect and network, and monthly newsletters detailing the addition of new content and possible future events.</p>
						   					</div>
						   				</div>
						   			</div>
						   		</div>
					   		</div>
					   	</li>
					   	<li style="background-image: url(static/images/trio_joblist.png);">
					   		<div class="overlay-gradient"></div>
					   		<div class="container-fluid">
					   			<div class="row">
						   			<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
						   				<div class="slider-text-inner">
						   					<div class="desc">
													<h2>Trio Joblist</h2>
													<p>Freelance full stack web development project tackling the automation of repetitive tasks and revamping of a website for an out-of-state client who reached out to me through LinkedIn!</p>
						   					</div>
						   				</div>
						   			</div>
						   		</div>
					   		</div>
					   	</li>		   	
					  	</ul>
				  	</div>
				</aside>
				</div>
			</div>
		</div>
	</div>

	<div id="fpgportfolio-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>Recent Post (FUTURE FEATURE)</h2>
					<p>A place where I share interesting tidbits of tech-related information.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fpgportfolio-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-1.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Month. 15th 2023</span>
							<h3><a href="#">Stuff</a></h3>
							<p>IN THE WORKS</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>Likes</li>
								<li><i class="icon-eye2"></i>Views</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fpgportfolio-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-2.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Month 15th 2023</span>
							<h3><a href="#"></a>Stuff</h3>
							<p>WORK IN PROGRESS</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>Likes</li>
								<li><i class="icon-eye2"></i>Views</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fpgportfolio-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(images/blog-3.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Month 15th 2023</span>
							<h3><a href="#">Stuff</a></h3>
							<p>FUTURE FEAUTURE</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>Likes</li>
								<li><i class="icon-eye2"></i>Views</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fpgportfolio-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fpgportfolio-heading">
					<h2>Hire Me!</h2>
					<p>I'd love to join your team and work on cool things together.</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fpgportfolio-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 fpgportfolio-widget">
					<h4>Fernanda Pérez Gutiérrez</h4>
					<p>It was a pleasure to have you stop by and take a look! This portfolio was made with blood (I did get one papercut and scraped a finger while moving my desk), sweat (from the A/C breaking at my previous apartment), and tears (yeah...a lot of those for too many reasons to name haha). Feel free to contact me if you have any questions, comments, or want to collaborate! Come back soon!</p>
				</div>
				<div class="col-md-2 col-md-push-1 fpgportfolio-widget">
					<h4>Navigate to &#x2B07;</h4>
					<ul class="fpgportfolio-footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2023 Fernanda Pérez Gutiérrez. All Rights Reserved.</small> 
						<small class="block">Thanks for visiting!</small>
					</p>
					<p>
						<ul class="fpgportfolio-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="static/js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>

	</body>
</html>

